<launch>

  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>
  


  <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch" >

<!-- Change map file path for your map-->
  <arg name="map_file" value="/home/trash/maps/middle_trash_map.yaml"/>

<!-- Change beginning pose estimates for inital UGV location-->
<arg name="initial_pose_x" value="0.25"/>
  <arg name="initial_pose_y" value="0.25"/>
  </include>  


  <!-- include file="$(find depthimage_to_laserscan)/launch/launchfile_trash.launch"/ -->

</launch>
