<launch>

<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
<include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>
<include file="$(find depthimage_to_laserscan)/launch/launchfile_trash.launch"/>

  <node pkg="gmapping" type="slam_gmapping" name="gmapper" >
    <remap from="odom_frame" to="odom" />
  </node>

<node pkg="rosbag" type="record" name="gmapping" args="-O $(find trash_nav)/bags/testCircleMap
/odom
/camera/color/image_raw
/camera/depth/camera_info
/camera/deptj/image_rect_raw
/tf
/scan
/map" />

</launch>
